<!DOCTYPE html>
<html>
<head>
<title>Rishabh Ravindra Ostawal - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Rishabh Ravindra Ostawal."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="style.css">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
        <div id="headshot" class="quickFade">
            <%= image_tag('headshot.jpg', alt: 'Rishabh Ostawal') %>
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Rishabh Ravindra</h1>
			<h2 class="quickFade delayThree">Ostawal</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>email: <a href="mailto:officialrushabh@gmail.com" target="_blank">officialrushabh@gmail.com</a></li>
				<li>website: <a href="http://www.agent97.me">www.agent97.me</a></li>
                <li>phone: +1 (703)593-3413</li>
                <li>github: <a href="https://www.github.com/agent00097">agent00097</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Computer Science Engineer currently pursuing a Masters degree from George Mason University. My interest varies from penetration testing, software development to reading. Currently looking for internships where I can put forward my skills</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>George Mason University</h2>
					<p class="subDetails">MS Computer Science 2019-2021</p>
					<p>Coursework include : Systems Programming, Design and Analysis of Algorithm</p>
				</article>
				
				<article>
					<h2>Amravati University, India</h2>
					<p class="subDetails">BE Computer Science and Engineering GPA : 7/10</p>
					<p>Coursework include: Operating System, Network security, Theory of Computation, Compiler Design, etc.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Mobile Application to navigate to wheelchair accessible places</h2>
					<p class="subDetails">Language used: C#,Java | Tools used:Xamarin,Visual Studio</p>
					<p>Developed a cross platform mobile application on Xamarin for Android, iOS and windows. Used several rest APIs and accessibility tools by google to make the app operate by voice control</p>
				</article>
				
				<article>
					<h2>Mobile Application for career counseling</h2>
					<p class="subDetails">Language used: Java | Tools used: Android studio</p>
					<p>Developed an application that analyzes user response over some quetionnaire and then presents option for career counseling. This application required additional tools such as maps and voice API</p>
				</article>
				
				<article>
					<h2>Software that generates a file for bruteforcing</h2>
					<p class="subDetails">Language used: Ruby and C | Tools used:gtk</p>
					<p>A software that helps in creating a text file with respect to user inputs. This text file is later used in tweaks like msfconsole and setoolkit</p>
				</article>

				<article>
					<h2>An android AOSP based ROM <em>(in progress)</em></h2>
					<p class="subDetails">Language used: Java, python | Tools used:Android open source project</p>
					<p>Currently developing a custom ROM with personalized apps for limited phones</p>
				</article>

				<article>
					<h2>A website that stores studen's data for administrative purposes</h2>
					<p class="subDetails">Language used: Ruby Tools used:Rails</p>
					<p>As an academic project, I developed a website to manage students data. For the data handling part postgresql was used and web development was handled in MVC via rails</p>
				</article>

				<article>
					<h2>A personalized debian based linux operating system<em>(in progress)</em></h2>
					<p class="subDetails">Language used: C | Tools used:bash</p>
					<p>Currently developing a personal use opearting system using Linux from Scratch with personalized packages</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Ruby</li>
					<li>C</li>
					<li>Android</li>
					<li>Rails</li>
					<li>C#</li>
					<li>Python</li>
					<li>Java</li>
					<li>Shell/Bash Scripting</li>
					<li>Linux</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>